@font-face {
  font-family: "Ubuntu";
  src: url("../assets/fonts/Ubuntu/Ubuntu-Bold.ttf"),
    url("../assets/fonts/Ubuntu/Ubuntu-Regular.ttf"),
    url("../assets/fonts/Ubuntu/Ubuntu-Italic.ttf"),
    url("../assets/fonts/Ubuntu/Ubuntu-Light.ttf"),
    url("../assets/fonts/Ubuntu/Ubuntu-Medium.ttf"),
    url("../assets/fonts/Ubuntu/Ubuntu-LightItalic.ttf"),
    url("../assets/fonts/Ubuntu/Ubuntu-MediumItalic.ttf"),
    url("../assets/fonts/Ubuntu/Ubuntu-BoldItalic.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "UbuntuMono";
  src: url("../assets/fonts/UbuntuMono/UbuntuMono-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
